@font-face {
    font-family: "Objective-Regular";
    src: url("/fonts/Objective-Regular.ttf") format("ttf");
}
@font-face {
    font-family: "Objective-Medium";
    src: url("/fonts/Objective-Medium.ttf") format("ttf");
}
@font-face {
    font-family: "Objective-Bold";
    src: url("/fonts/Objective-Bold.ttf") format("ttf");
}

@import "bootstrap";

@import "tempusdominus-bootstrap-4/src/sass/_tempusdominus-bootstrap-4.scss";

@import "font-awesome/scss/font-awesome.scss";
