.uab-logo {
    width: 220px !important;
    height: auto !important;
    left: -20px;
}

.left_col {
    height: 100%;
}

.nav-sm .nav.side-menu .menu_section > ul {
    width: 80px;
}

.nav-sm .nav.side-menu li a {
    padding: 0;
    margin: 30px 0;
}

.nav-sm .container.body .right_col {
    margin-left: 100px;
}

.nav-sm .navbar.nav_title > a {
    width: 100px !important;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-sm .navbar.nav_title > a > img {
    width: 100%;
    height: auto;
}

.nav-sm .main_container .top_nav {
    margin-left: 100px;
}

.nav_menu {
    border-left: 1px solid #f5f5f5;
}

.card {
    border-radius: 20px;
    border-color: #f7f7f7;
}

.img-circle.profile_img {
    border-color: #f0f0f0;
}

.form-control {
    border-color: #f7f7f7;
    border-radius: 10px;
}

.btn {
    border-radius: 10px;
}

.rounded {
    border-radius: 10px !important;
}

.nav-sm .container.body .col-md-3.left_col {
    width: 100px;
}

.nav-md .container.body .right_col {
    /* padding: 10px 20px 0; */
    margin-left: 230px;
}

.right_col {
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 56px !important;
}

@media (max-width: 991px) {
    .nav-md .container.body .right_col {
        width: 100%;
        padding-right: 0;
        margin-left: 0 !important;
    }

    .custom-appointment-btn {
        display: none !important;
    }
}

@media (max-width: 576px) {
    .dashboard-numbers,
    .main-wrapper {
        width: 100% !important;
        padding-left: 10px;
        padding-right: 10px;
    }

    .btn_min_block {
        display: block;
        width: 100%;
    }
}

.custom-appointment-btn {
    height: 42px;
    margin-top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-navtabs .nav-item a.active {
    border-left: 2px solid white;
    border-right: 2px solid white;
}

.height-57 {
    height: 57px;
}

.my-navtabs .nav-item a.active {
    border-bottom: 3px solid #6868ac;
    font-weight: 800;
    color: #6868ac !important;
}

.text-flex-center {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.badge {
    border-radius: 10px;
}

.nav-tabs {
    border: none !important;
}

.nav-sm .navbar.nav_title {
    width: 80px;
    padding-left: 10px;
}

.border {
    border-width: 2px !important;
}

.min-380 {
    min-height: 380px;
}

.min-180 {
    min-height: 180px;
}

.min-150 {
    min-height: 150px;
}

.min-130 {
    min-height: 130px;
}

.flex-center-helper {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.flex-1-helper {
    flex: 1;
}

.nav.side-menu > li > a,
.nav.child_menu > li > a {
    color: #888;
    font-weight: 500;
}

.nav-custom-title {
    float: left;
    display: flex;
    height: 55px;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.nav li li.current-page a {
    color: #000;
}

.nav-sm ul.nav.child_menu {
    background-color: #fff;
    border: 1px solid #f3f3f3;
    width: 70px;
}

.nav-sm ul.nav.child_menu li a {
    text-align: center !important;
    font-size: 9px !important;
}

.nav-sm ul.nav.child_menu li a > i {
    font-size: 18px !important;
}

.icon-btn-position i {
    position: relative;
    top: 2px;
}

.btn-success {
    background: #169f85;
    border: 1px solid #169f85;
}

.form-control {
    border-color: #ebebeb;
    border-radius: 10px;
}

.custom-select {
    border-color: #ebebeb;
    border-radius: 10px;
}

.min-w-90 {
    min-width: 90px;
}

.min-w-85{
    min-width: 85px;
}

.max-w-500 {
    max-width: 500px;
}

.max-w-600 {
    max-width: 600px;
}

.max-w-800 {
    max-width: 800px;
}

.max-w-1000 {
    max-width: 1000px;
}

.breadcrumb {
    border-radius: 10px;
}

.datetimepicker-input {
    border-radius: 10px !important;
}

.btn-outline-primary i.fa,
.btn-outline-success i.fa,
.btn-outline-warning i.fa,
.btn-outline-danger i.fa,
.btn-outline-info i.fa {
    color: #6868ac !important;
    position: relative;
    top: -0.4px;
}

.btn-outline-danger i.fa {
    color: #ef2649 !important;
}

.btn-outline-primary:hover i.fa,
.btn-outline-success:hover i.fa,
.btn-outline-warning:hover i.fa,
.btn-outline-danger:hover i.fa,
.btn-outline-info:hover i.fa {
    color: #fff !important;
}

.text-decoration-underline {
    text-decoration: underline !important;
}

// Pre Loading
.wrap-loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text {
    color: $blue;
    display: inline-block;
    position: relative;
    bottom: 4px;
    font-size: 22px;
}

.bounceball {
    position: relative;
    display: inline-block;
    height: 37px;
    width: 15px;
    top: 3px;
}
.bounceball:before {
    position: absolute;
    content: "";
    display: block;
    top: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: $blue;
    transform-origin: 50%;
    -webkit-animation: bounce 500ms alternate infinite ease;
    animation: bounce 500ms alternate infinite ease;
}

@-webkit-keyframes bounce {
    0% {
        top: 30px;
        height: 5px;
        border-radius: 60px 60px 20px 20px;
        transform: scaleX(2);
    }
    35% {
        height: 15px;
        border-radius: 50%;
        transform: scaleX(1);
    }
    100% {
        top: 0;
    }
}

@keyframes bounce {
    0% {
        top: 30px;
        height: 5px;
        border-radius: 60px 60px 20px 20px;
        transform: scaleX(2);
    }
    35% {
        height: 15px;
        border-radius: 50%;
        transform: scaleX(1);
    }
    100% {
        top: 0;
    }
}

.pre-loading {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.85);
    z-index: 9999999;
}

.uab-headbar-icon {
    width: 349px;
    height: 89px;
    -o-object-fit: contain;
    display: block;
    object-fit: contain;
    margin: auto auto;
    /* padding-top: 12px; */
    position: relative;
    top: 16px;
}

.uab-headbar-nav {
    height: 134px;
    background-color: #fff;
    margin-bottom: 20px;
}

.right-radius {
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}
